$font-family: (
  primary: "Crimson Pro",
  secondary: "Lora",
  info: "Montserrat",
);

$weight: (
  exLight: 200,
  normal: 400,
  medium: 500,
  bold: 700,
);

$font-sizes: (
  base: 62.5%,
  body: 1.6rem,
);


$breakpoints: (
  xs: 499px,
  sm: 900px,
);
